.course-navigation {
  list-style-type: none;
  background-color:lightgray; 
  margin:0px; 
  padding:0px;
  list-style: none;
}

.course-navigation li {
  padding:10px;
  list-style: none;
}

.course-navigation li.active {
  border-left: 3px solid green;
}