.course-navigation {
  background-color:white; 
  list-style: none;
  margin:0px; 
  margin-left: 10px;
  padding:0px;
  width:125px;
}

.course-navigation li {
  /* top, right, bottom, left */
  padding:10px 0px 10px 10px;
  margin: 10px 0px 10px 0px;
}

.course-navigation a {
  color: red;
  text-decoration: none;
}

.course-navigation li.active {
  border-left: 3px solid green;
}

.course-navigation li.active a {
  color: black;
}