.account-navigation {
  list-style-type: none;
  background-color:lightgray; 
  margin:0px; 
  padding:0px
}

.account-navigation li {
  padding:10px;
}

.account-navigation li.active {
  border-left: 3px solid green;
}